
body {
  height: auto;
  width: auto;
  background-image: url(./img/bg.png);
  background-repeat: repeat;
  font: 14px Tahoma, Geneva, sans-serif;
}

#root {
  width: 80%;
  height: 80%;
  padding: 0px 10% 0px 10%;
}
.Container{
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 1150px) {
  #root{
    padding: 0 0 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #root{
    padding: 0 10% 0 10%;
    width: 80%;
  }
 
}
